/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* DEBUG */


.debug .header-top {
    background-color: #ADD8E6;
}

.debug .header-bottom{
    background-color: #00008B;
}

.debug .col-logo{
    background-color: #DAA520;
    height: 50px;
}

.debug .col-header{
    background-color: #EE82EE;
    height: 400px;
}

.debug .col-big{
    background-color: #1E90FF;
    height: 500px;
}

.debug .col-small{
    background-color: #FFC0CB;
    height: 500px;
}

.debug .col-main-bottom{
    background-color: #228B22;
    height: 900px;
}

.debug .col-big-foot{
    background-color: #FFC0CB;
    height: 580px;
}

.debug .col-small-foot{
    background-color: #20B2AA;
    height: 580px;
}
.debug footer{
    background-color: #252525;
}
/* COMMON */
.container{
    max-width: 1200px;
    margin: auto;
}

section:nth-child(2n){
    background-color: #D3D3D3;
}

/* HEADER */

.header-top{
    padding: 15px 0;
}

.col-logo{
    display: flex;
    justify-content:space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.header-bottom{
    padding: 50px;
    
}

.col-header{
    max-width: 900px;
    margin: auto;
}

/* MAIN */

.row{
    padding: 50px;
    display: flex;
}

.col-big{
    width: 60%;
}

.col-small{
    width: 40%;
}

.col-main-bottom{
    width: 100%;
}

/* FOOTER */

.col-big-foot{
    width: 33.33%;
    display: flex;
}

.col-small-foot{
    width: 50%;
}