/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* DEBUG */


.debug .header-top {
    background-color: #ADD8E6;
}

.debug .header-bottom{
    background-color: #00008B;
}

.debug .container{
    background-color: #DAA520;
    height: 50px;
}

.debug .col-header{
    background-color: #EE82EE;
    height: 400px;
}


/* COMMON */

.container{
    max-width: 1200px;
    margin: auto;
}

/* HEADER */

.header-top{
    padding: 15px 0;
}

.container{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.header-bottom{
    padding: 50px;
    
}

.col-header{
    max-width: 900px;
    margin: auto;
}